@charset "UTF-8";

.fs-8 { font-size: 8px; }
.fs-9 { font-size: 9px; }
.fs-10 { font-size: 10px; }
.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px; }
.fs-14 { font-size: 14px; }
.fs-16 { font-size: 16px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }
.fs-24 { font-size: 24px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-36 { font-size: 36px; }
.fs-48 { font-size: 48px; }
.fs-72 { font-size: 72px; }

@media (min-width: 576px) {

    .fs-sm-8 { font-size: 8px; }
    .fs-sm-9 { font-size: 9px; }
    .fs-sm-10 { font-size: 10px; }
    .fs-sm-11 { font-size: 11px; }
    .fs-sm-12 { font-size: 12px; }
    .fs-sm-14 { font-size: 14px; }
    .fs-sm-16 { font-size: 16px; }
    .fs-sm-18 { font-size: 18px; }
    .fs-sm-20 { font-size: 20px; }
    .fs-sm-22 { font-size: 22px; }
    .fs-sm-24 { font-size: 24px; }
    .fs-sm-26 { font-size: 26px; }
    .fs-sm-28 { font-size: 28px; }
    .fs-sm-36 { font-size: 36px; }
    .fs-sm-48 { font-size: 48px; }
    .fs-sm-72 { font-size: 72px; }

}

@media (min-width: 768px) {

    .fs-md-8 { font-size: 8px; }
    .fs-md-9 { font-size: 9px; }
    .fs-md-10 { font-size: 10px; }
    .fs-md-11 { font-size: 11px; }
    .fs-md-12 { font-size: 12px; }
    .fs-md-14 { font-size: 14px; }
    .fs-md-16 { font-size: 16px; }
    .fs-md-18 { font-size: 18px; }
    .fs-md-20 { font-size: 20px; }
    .fs-md-22 { font-size: 22px; }
    .fs-md-24 { font-size: 24px; }
    .fs-md-26 { font-size: 26px; }
    .fs-md-28 { font-size: 28px; }
    .fs-md-36 { font-size: 36px; }
    .fs-md-48 { font-size: 48px; }
    .fs-md-72 { font-size: 72px; }

}

@media (min-width: 992px) {

    .fs-lg-8 { font-size: 8px; }
    .fs-lg-9 { font-size: 9px; }
    .fs-lg-10 { font-size: 10px; }
    .fs-lg-11 { font-size: 11px; }
    .fs-lg-12 { font-size: 12px; }
    .fs-lg-14 { font-size: 14px; }
    .fs-lg-16 { font-size: 16px; }
    .fs-lg-18 { font-size: 18px; }
    .fs-lg-20 { font-size: 20px; }
    .fs-lg-22 { font-size: 22px; }
    .fs-lg-24 { font-size: 24px; }
    .fs-lg-26 { font-size: 26px; }
    .fs-lg-28 { font-size: 28px; }
    .fs-lg-36 { font-size: 36px; }
    .fs-lg-48 { font-size: 48px; }
    .fs-lg-72 { font-size: 72px; }

}

@media (min-width: 1200px) {

    .fs-xl-8 { font-size: 8px; }
    .fs-xl-9 { font-size: 9px; }
    .fs-xl-10 { font-size: 10px; }
    .fs-xl-11 { font-size: 11px; }
    .fs-xl-12 { font-size: 12px; }
    .fs-xl-14 { font-size: 14px; }
    .fs-xl-16 { font-size: 16px; }
    .fs-xl-18 { font-size: 18px; }
    .fs-xl-20 { font-size: 20px; }
    .fs-xl-22 { font-size: 22px; }
    .fs-xl-24 { font-size: 24px; }
    .fs-xl-26 { font-size: 26px; }
    .fs-xl-28 { font-size: 28px; }
    .fs-xl-36 { font-size: 36px; }
    .fs-xl-48 { font-size: 48px; }
    .fs-xl-72 { font-size: 72px; }

}

@media (min-width: 1400px) {

    .fs-xxl-8 { font-size: 8px; }
    .fs-xxl-9 { font-size: 9px; }
    .fs-xxl-10 { font-size: 10px; }
    .fs-xxl-11 { font-size: 11px; }
    .fs-xxl-12 { font-size: 12px; }
    .fs-xxl-14 { font-size: 14px; }
    .fs-xxl-16 { font-size: 16px; }
    .fs-xxl-18 { font-size: 18px; }
    .fs-xxl-20 { font-size: 20px; }
    .fs-xxl-22 { font-size: 22px; }
    .fs-xxl-24 { font-size: 24px; }
    .fs-xxl-26 { font-size: 26px; }
    .fs-xxl-28 { font-size: 28px; }
    .fs-xxl-36 { font-size: 36px; }
    .fs-xxl-48 { font-size: 48px; }
    .fs-xxl-72 { font-size: 72px; }

}









.z-1 { z-index: 1 !important; }
.z-2 { z-index: 2 !important; }
.z-3 { z-index: 3 !important; }
.z-4 { z-index: 4 !important; }
.z-5 { z-index: 5 !important; }




.card {
    border: 0 none;
    box-shadow: 0 1px 2px rgba(56,65,74,.15);
}

.border-transparent {
    border-color: transparent !important;
}


.placeholder {
    display: inline-block;
    min-height: .5rem;
    vertical-align: middle;
    cursor: wait;
    background-color: #8f9193 !important;
    opacity: .5;
    border-radius: .15rem;
    transform: translateY(-0.15rem);

    --px: .25rem;
    padding-left: var(--px);
    padding-right: var(--px);

    animation: placeholder-flash 1.4s ease-in-out infinite;
}

@keyframes placeholder-flash {

    50% {
        opacity: .3;
    }

}

.placeholder-bg {
    background-color: rgba(235, 238, 240, .95);

    animation: placeholder-bg-flash 1.4s ease-in-out infinite;
}

@keyframes placeholder-bg-flash {

    50% {
        background-color: rgba(235, 238, 240, .15);
    }

}




.th-sorting {
    position: relative;
}

.th-sorting::before,
.th-sorting::after {
    content: '\2193';
    position: absolute;
    top: 50%;
    right: .5rem;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #8f9193;
    opacity: 35%;
}

.th-sorting::after {
    content: '\2191';
    right: .1rem;
}

.th-sorting.th-sorting-asc::before,
.th-sorting.th-sorting-desc::after {
    opacity: 100%;
}






